<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="userContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>	
	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<div >  
    			
			</div> 
			<p>Welcome to templating using EJS</p>
		</div>
	</main>
	

	<footer>
		<% include ../partials/footer %>
	</footer>
	 <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    //Chart 1
    var months = <%- JSON.stringify(json) %>;
    console.log(months);
    xaxis1 = [];
    effort1 = [];
    init1 = [];
    final1 = [];
    for(i=0 ; i<months.length ; i++){
    	xaxis1.push(months[i].project);
    	effort1.push(months[i].effort/(60*60*8));
    	init1.push(months[i].initialEffort/(60*60*8));
    	final1.push(months[i].finalEffort/(60*60*8));
    }
       $(function () {
    $('#container').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'Project Efforts',
            x: -20 //center
        },
        subtitle: {
            text: 'In a Week',
            x: -20
        },
        xAxis: {
         title: {
                text: 'Projects'
            },
            categories : xaxis1,
            type: 'linear',
            overflow: 'justify',
            labels:{
               rotation:-60,
             
            }
        },
        yAxis: {
            title: {
                text: 'Effort (Man Days)'
            }
        },
        tooltip: {
             valueSuffix: ' man days'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 1
        },
        credits: {
     		 text: 'newgen.com',
            href: 'http://www.google.com'
  		},
        series: [{
            name: 'Effort',
            data: effort1
        },
        {
            name: 'Intial Task Assigned',
            data: init1
        },
        {
            name: 'Final Task Assigned',
            data: final1
        }]
    });
});
//chart 2

var data = <%- JSON.stringify(userjson) %>;
    console.log(months);
    xaxis = [];
    effort = [];
    init = [];
    final = [];
    for(i=0 ; i<data.length ; i++){
    	xaxis.push(data[i].name);
    	effort.push(data[i].effort/(60*60*8));
    	init.push(data[i].initialEffort/(60*60*8));
    	final.push(data[i].finalEffort/(60*60*8));
    }
       $(function () {
    $('#userContainer').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'User Efforts',
            x: -20 //center
        },
        subtitle: {
            text: 'In a Week',
            x: -20
        },
        xAxis: {
         title: {
                text: 'Users'
            },
            categories : xaxis,
            type: 'linear',
            overflow: 'justify',
            labels:{
               rotation:-50,
             
            }
        },
        yAxis: {
            title: {
                text: 'Effort (Man Days)'
            }
        },
        tooltip: {
             valueSuffix: ' man days'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 1
        },
        credits: {
     		 text: 'newgen.com',
            href: 'http://www.google.com'
  		},
        series: [{
            name: 'Effort',
            data: effort
        },
        {
            name: 'Intial Task Assigned',
            data: init
        },
        {
            name: 'Final Task Assigned',
            data: final
        }]
    });
}); 
   </script>
</body>
</html>